<div class="container">

  <h1>Create a new dose</h1>


  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description, placeholder: 'e.g. 5cl' %>

    <%= f.association :ingredient %>
    <%= f.submit "Submit"%>
  <% end %>

</div>
